/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 30px; */
}

header {
  background-color: rgb(72, 187, 120);
  /* background-color: rgb(246, 249, 252); */
}
.header-nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  justify-content: space-between;
  font-size: 30px;
  border: 2px solid black;
}

.header-nav li a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 30px;
}

.header-nav li .active {
  color: orange;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.banner {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 40px;
  background-color: paleturquoise;
}

.banner p {
  font-size: 20px;
  padding: 20px 0px;
}

.feed {
  border-bottom: 1px solid black;
}

.f-p-p-container {
  width: 80%;
  border: 1px solid black;
}
.sidebar {
  width: 18%;
  border: 2px solid black;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

article {
  border: 1px solid black;
}

.article-meta figure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.article-meta figure img {
  width: 100%;
  border-radius: 50%;
}

.pagination-container .active {
  background-color: rgb(161, 214, 161);
  color: white;
}

.pagination-container button:hover {
  cursor: pointer;
}

.form-container {
  text-align: center;
  border: 2px solid black;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.form input {
  width: 100%;
  padding: 10px 0px;
  margin-top: 10px;
}
.form textarea {
  width: 100%;
  padding: 10px 0px;
  margin-top: 10px;
}

.feed .flex {
  justify-content: left;
}

.feed li {
  margin-right: 30px;
  font-size: 30px;
}

/* .feed li Link .active-feednav {
  color: rgb(17, 197, 17);
  text-decoration: none;
} */

.active-feednav {
  color: green;
}
.singlepost-footer p {
  text-align: center;
  font-size: 30px;
}

/* .profile-section button {
  font-size: 30px;
  color: green;
} */

.profile-section .active {
  color: green;
}

.profile-banner {
  border: 2px solid black;
  padding: 30px;
  text-align: center;
}

.profile-banner h3 {
  font-size: 25px;
}

.profile-banner figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-flex;
  justify-content: center;
}
.profile-banner img {
  width: 100%;
  border-radius: 50%;
}
